*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.r{
    height: 25px;
    background-color:#D8D8D8 ;
    display: flex;
    list-style: none;
    font-size: 12px;
}


.a{
    background-color:#D8D8D8 ;
}
.a a{
    text-decoration: none;
}
.a a:hover{
    text-decoration: underline;
}
.second  a{
    margin-right: 15px;
}
.logo img{
    height: 60px;
}
.a{
    font-size: 15px;
}
.cizgiler {
    display: flex;
    justify-content: space-around;
}
.cizgi {
    width: 38%;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 10px;
}
.cizgi1 {
    width: 28%;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 10px;
}
.cizgi2 {
    width: 20%;
    height: 1px;
    background-color: rgb(91, 91, 91);
    margin-top: 10px;
}


/* Footer */
footer{
    background-color:#D8D8D8 ;
}
footer p, .nav-link, .p-footer {
    color: grey;
    text-align: left;
}
footer .nav-link:hover {
    color: grey;
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .text {
        text-align: center;
    }
    
}

footer img{
    height: 100px;
    width: 100%;
}
@media screen and (max-width: 670px) {
    footer img{
        height: 80px;
        width: 60px;
    }
}

@media screen and (max-width: 550px) {
    .r{
        
        font-size: 10px;
        
    }
}
@media screen and (max-width: 510px) {
    .r{
        
        font-size: 10px;
        
    }
    footer img{
        height: 70px;
        width: 50px;
    }

}

@media screen and (max-width: 460px) {
    .onheader{
        height: 35px;
        font-size: 10px;
        
    }
    footer img{
        height: 70px;
        width: 45px;
    }
}
@media screen and (max-width: 440px) {
    footer img{
        height: 60px;
        width: 40px;
    }
}
@media screen and (max-width: 410px) {
    .a{
        height: 35px;
        font-size: 9px;
        
    }
    .r{
        
        font-size: 9px;
        
    }
}
@media screen and (max-width: 400px) {
    
    .a{
        height: 30px;
        font-size: 8px;
        width: 140%;
        
        
    }
    footer{
        width: 120%;
    }

}
/*@media screen and (max-width: 368px) {
    .onheader{
        height: 30px;
        font-size: 7px;
        
    }
}*/
